In [1]:
import pandas as pd # type: ignore

## Part 1

#### Reading file into dataframe

In [2]:
distance_lists = "Data/Day_1_content.txt"
df = pd.read_csv(distance_lists, sep="\\s+", names=["Left", "Right"])

In [3]:
df

      Left  Right
0    35446  18696
1    46314  66062
2    33933  83974
3    83974  34443
4    98207  12657
..     ...    ...
995  44296  36718
996  43642  99921
997  49243  90701
998  28205  27193
999  98899  19172

[1000 rows x 2 columns]

#### Sorting values from smallest to largest

In [80]:
sorted_left = df['Left'].sort_values().reset_index(drop=True)
sorted_right = df['Right'].sort_values().reset_index(drop=True)

In [81]:
pd.DataFrame([sorted_left, sorted_right])

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
Left,10019,10130,10326,10456,10488,10538,10593,10628,10787,10804,...,99345,99425,99566,99572,99593,99602,99664,99705,99868,99887
Right,10136,10295,10727,11145,11195,11220,11410,11817,11918,12288,...,99080,99080,99080,99080,99080,99250,99451,99469,99609,99921

#### Getting sum of absolute distance

In [82]:
distances = (sorted_left - sorted_right).abs()

In [83]:
distances

0      117
1      165
2      401
3      689
4      707
      ...
995    352
996    213
997    236
998    259
999     34
Length: 1000, dtype: int64

In [84]:
total_distance = distances.sum()
total_distance

np.int64(2196996)

## Part 2

#### Gathering unqiue right-column values and their number of appearances

In [85]:
right_freq = df["Right"].value_counts()

In [86]:
right_freq

Right
18696    20
83974    20
27547    20
12657    19
81859    19
         ..
83513     1
36718     1
99921     1
90701     1
89458     1
Name: count, Length: 597, dtype: int64

#### Calculating similarity score based on prompt

In [87]:
similarity_score = 0
for num in df["Left"]:
    similarity_score += num * right_freq.get(num, 0)

similarity_score

np.int64(23655822)